<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Document</title>
</head>
<body>
<% for(var item in obj!){%>
<tr class="text-c">
    <td><img src="${item.ImageUrl}" alt="" style="width: 50px; height: 50px;" /></td>
    <td>${item.ProductName}</td>
    <td>${item.LowestSalePrice}</td>
    <td>${item.MarketPrice}</td>
    <td class="f-14 td-manage"><a href="javascript:;" class="btn btn-primary radius" id="btnMshtadd" onClick="ms_add(${item.ProductId})">选择 </a></td>
</tr>
<% } %>
</body>
<html>